body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: #fff;
}
nav{
    margin: 50px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main__client__zuul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__client__zuul__clients{
    display: flex;
    flex-direction: column;
}
.main__client__zuul__client{
    margin: 30px;
    font-size: 25px;
    background-color: #333333;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.main__client__zuul__zuul{
    margin: 30px;
    font-size: 25px;
    background-color: #333333;
    width: 150px;
    height: 87.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.main__client__zuul__zuul__bottomtext{
    font-size: 15px;
    letter-spacing: 5px;
}
.main__dottedbox{
    width: 700px;
    height: 800px;
    border: 5px dotted #2B2B2B;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__dottedbox__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.main__dottedbox__content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}
.main__dottedbox__content__EurekaDiscanddatabase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.main__dottedbox__content__EurekaDisc{
    margin: 30px;
    font-size: 25px;
    background-color: #333333;
    width: 70%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.main__dottedbox__content__EurekaDisc__bottomtext{
    font-size: 15px;
    letter-spacing: 5px;
}
.main__dottedbox__content__database{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKGsTll7dPvQtdXBPLTx9YG5c0c3gJPo4A4ld6v6k&s");
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100%);
}
.main__dottedbox__content__services{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 35px;
}
.main__dottedbox__content__service{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    background-color: #333333;
    margin: 20px;
    width: 450px;
    border-radius: 5px;
}
.main__dottedbox__content__service__text{
    font-size: 25px;
}
.main__dottedbox__content__service__bottomtext{
    font-size: 15px;
    letter-spacing: 5px;
}